@{
    Layout = "_Layout";
    ViewData["title"] = "Home";
}

<section>
    <div class="center_section_home">
        @RenderBody()
        <section class="section_tasks_to_do">
            <header class="header_tasks_to_do">
                <h1>Tareas por realizar</h1>
            </header>
            
            <div class="tasks_cards">
                 @if(((List<Task_Aplication.Models.DataBase.Task>)ViewBag.TasksListToDo).Count() <= 0)
                {
                    <h1 class="message_not_found_tasks">No hay tareas por realizar</h1>
                } else {
                   
                    @foreach (var i in (List<Task_Aplication.Models.DataBase.Task>)ViewBag.TasksListToDo)
                    {
                        <div class="card_info_task">
                            <h1 class="card_task_title">@i.Title</h1>
                        <p class="card_task_info">@i.Infotask</p>
                        <div class="card_task_date">                       
                            <div class="card_task_info_date">
                                <img class="icon_clock" src="~/icons/icon_clock.svg" alt="" />
                                <p>@i.Date</p>
                            </div>
                            <div class="actions_card_task">
                                @Html.ActionLink("Editar", "UpdateTask", new { task = i.Idtask })                           
                                @Html.ActionLink("Eliminar", "DeleteTask", new { task = i.Idtask })                              
                            </div>
                        </div>
                </div> 
                }
            }
            </div>
        </section>

        <section class="section_completed_tasks">
            <header class="header_completed_tasks">
                <h1>Tareas culminadas</h1>
            </header>
            <div class="tasks_cards">
               
                @if(((List<Task_Aplication.Models.DataBase.Task>)ViewBag.TasksListCompleted).Count() <= 0)
                {
                    <h1 class="message_not_found_tasks">No hay tareas culminadas</h1>
                } else
                {                 
                    @foreach(var i in (List<Task_Aplication.Models.DataBase.Task>)ViewBag.TasksListCompleted) {
                    <div class="card_info_task">
                            <h1 class="card_task_title">@i.Title</h1>
                            <p class="card_task_info">@i.Infotask</p>
                            <div class="card_task_date">
                                    <div class="card_task_info_date">
                                    <img class="icon_clock" src="~/icons/icon_clock.svg" alt="" />
                                    <p>@i.Date</p>
                                </div>
                                <div class="actions_card_task">
                                    @Html.ActionLink("Editar", "UpdateTask", new { task = i.Idtask })                           
                                    @Html.ActionLink("Eliminar", "DeleteTask", new { task = i.Idtask })                              
                                </div>
                            </div>                  
                    </div>           
                }         
            }
             </div>
        </section>

    </div>
</section>

